
.sum1
{
  position: relative;
  background-color: rgb(0, 0, 0);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 678px;
  
}
.sum2
{
   position: relative;
   background-color: rgb(0, 0, 0);
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content:center ;
   align-items: flex-start;
}
.sum1 img
{
    position:absolute;
    height: 378.71px;
    width: 504.96px;
    left: 220px;
    
}
.sum2 h1
{
   color: white;
   position: relative;
   font-size: 45px;
   width: 600px;
   height: 56px;
}
.sum2 h3
{  position: relative;
  color: white;
  font-size: 26px;
  width: 600px;
  height: 90px;
  top: -50px;
  font-weight: 15;
  white-space: 3px;
}

  
  .contact
  {
    position: relative;
    
     width: 60rem;
     font-size: 15px;
     color: #737373;

  }
  .contact a{
    color: #737373;
    
  }
  .contact a:hover
  {
    text-decoration: underline;
  }
  


  .list1
  {position: relative;
 
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 60rem;

  }
  .list1 p
  {
    color: #737373;
    font-size: 13px;
    
    
  }
  .list1 p a{
    color: #737373;
  }
  *{
    text-decoration: none;
  }
  .list1 p a:hover
  {
    text-decoration:underline;
  }
  #spn2
  {
    border: 1px solid #737373;
    color: #737373;
    position: relative;
    left:-27rem;
    top:40px;
    width: 95px;
    display: flex;
    height: 39px;
    justify-content:space-evenly;
    align-items: center;
    padding: 5px ;
    
  }
  #font{
    position:relative;
    color: #737373;
    font-size: 12px;
    left: -28.5rem;
    top: 60px;
  }
 .six_list
 {
  position: relative;
  background-color: rgb(203, 89, 89);
  color: black;
  width: 700px;
  height: 50px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 7fr;
  
  
  
 }
 .demol
 {
  position: relative;
  background-color: rgb(196, 77, 77);
  color: black;
  width: 700px;
  height: 400px;
 }
 .six_list i{
  position: relative;
  
  font-size: 50px;
  display:inline-block;
  
  height: 50px;
  text-align: center;
  left: 510px;
  
  grid: area 1 / 2 ;
  

 }

 .rama 
 {
  position: relative;
 
  transform: rotate(46deg);
 }
 .div1
 {
  position: relative;
  background-color: rgb(246, 246, 246);
  height: 50px;
  width: 650px;


 }
 .div2
 {
   position: relative;
   background-color: rgb(0, 4, 255);
    grid-area: 2/1/span 1/span 3;
    visibility: hidden;
 }
 .box_list
 {position: relative;
  height: 60px;
  width: 47%;
  background: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  cursor: pointer;
 }
 .box_list h2
 {
  font-weight: lighter;
 }
 .box_list i
 {
   font-size: 38px;
   transition-duration: 0.3s;

  }
  .rotate
  {
    transform: rotate(45deg);
   
  }
  



  
  .sub_box
  { 
   position: relative;
   top: 2px;
    background: #303030;
    width: 47%;
    box-sizing: border-box;
    margin-bottom: 10px;
  
  }
  .sub_box1
  { 
    padding: 10px;
    animation-name:rot;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    
  }
  .sub_box p
  { position: relative;
   font-size: 1.625rem;
   font-weight: 400;
   margin-left: 20px;
  
 
  }
.h12
{
  font-size: 3.125rem;
  font-weight: 500;
}
.lasth1
{ position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 40px;
}
.inputf{
  position: relative;
  font-family: 'Open Sans', sans-serif;
 margin-top: 10px;
 margin-bottom: 60px;
 }


 @keyframes rot{
  0%{
    opacity: 0.1;
    
  }
  50%
  {
    opacity: 0.6;
    
  }
  100%{
    opacity: 1;
    
  }
}